// Body
$body-bg: #FDFEFF;

// Typography
$font-family-sans-serif: 'Fredoka One', cursive;
$parrafos-font-family:'Didact Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #E71D36;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FF9F1C;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #2EC4B6;
